{% extends 'dashboard/base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block menu_home_class %}
    active
{% endblock %}    

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to the test</h1>
        <p>We're going to build a cool application using a MVC framework! This application was built by Danny Waldman [&forall;&Delta;&forall;&Dagger;m&lambda;&Pi;gl&Xi;r]</p>
    </div>
    <div class="row">
        <div class="col">
            <h3>Manage Users</h3>
            <p>Using the application, you'll learn how to add, remove and edit users for the application<p>
        </div>
        <div class="col">
            <h3>Leave Messages</h3>
            <p>Users will be able to leave a message to another user using the application<p>
        </div>
        <div class="col">
            <h3>Edit user Information</h3>
            <p>Admins will be able to edit another user's information (email address, first name, last name, etc.)</p>
        </div>
    </div>
{% endblock %}
